<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379224027061-c2oflccnc1cka26a8r4s87pa3ovsnsbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379224027061-c2oflccnc1cka26a8r4s87pa3ovsnsbf</string>
	<key>API_KEY</key>
	<string>AIzaSyAuTaDipYvN5G9d06v3qyIWTznSV4KqY_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>379224027061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommercePesacoder</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-pesa-9815a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-pesa-9815a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379224027061:ios:941d89980ad316caeb33fc</string>
</dict>
</plist>